# THIS FILE IS MEANT TO SERVE AS AN EXAMPLE OF AVAILABLE ENVIRONMENT variables
# RENAME FILE WITH .env EXTENSION FOR USE IN YOUR APPLICATION

# Set ngrok environment for wernight/ngrok container variables
# Reference: https://github.com/wernight/docker-ngrok#environment-variables

NGROK_AUTH=
NGROK_SUBDOMAIN=
NGROK_HOSTNAME=
NGROK_REMOTE_ADDR=
NGROK_USERNAME=
NGROK_PASSWORD=
NGROK_PROTOCOL=
NGROK_PORT=
NGROK_REGION=
NGROK_BINDTLS=
